.top-nfts {
    background: #161b22;
    padding: 50px 0;
  }
  
  .content{
    position: relative;
  }
  .content .start h1 span{
    font-family: 'Arial', sans-serif;
            font-weight: 700;
            font-size: 50px;
            color: transparent;
            -webkit-text-stroke: 1px #40e0d0; 
    }
  .content .end{
   
    text-align: end;
  }
 
  
  .nft-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }
  
  .nft-card {
    transform: skewY(20deg);

    background-color: #21262d;
    overflow: hidden;
    margin: 10px;
    width: 200px;
  }
  
  .nft-card img {
    width: 100%;
    height: auto;
  }
  
  .nft-card p {
    color: #c9d1d9;
    text-align: center;
  }
  
  .card-nft{
    padding: 10px;
    background-color:#011325 ;
    color: #c9d1d9;
    margin-top: 40px;
    margin-bottom: 20px;

    box-shadow: #00ffcc 0px 14px 8px, #00ffcc 0px 10px 10px;  
    height: 394px;
    width: 100%;

  }

  .card-nft .card-img-top{
    padding: 8px ;
    height: 200px;
    width: 100%;
    border-radius: 20px;
  }
  .card-nft p{
    font-size: 10px;
  }

  