.top-nfts {
    background: #161b22;
    padding: 50px 0;
  }
  
  .content{
    position: relative;
  }
  .content .start h1 span{
    font-size: 50px;
    color: #00ffcc;
    text-shadow: 0 0 5px #8f9c9a,
                 0 0 20px #002fff,
                 0 0 40px #bbb8c7,
                                   0 0 100px #eff1f1,
                 0 0 150px #00ffcc; 
    }
  .content .end{
   
    text-align: end;
  }
 
  
  .nft-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .nft-card {
    background-color: #21262d;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    width: 200px;
  }
  
  .nft-card img {
    width: 100%;
    height: auto;
  }
  
  .nft-card p {
    color: #c9d1d9;
    text-align: center;
  }
  
  .card-nft{
    background-color:#011325 ;
    color: #c9d1d9;
    margin-top: 40px;
    border-bottom: 15px solid #00ffcc;
    border-left:3px solid #00ffcc ;
    border-right:3px solid #00ffcc ;
    margin-bottom: 20px;
    box-shadow: 5px 1px 5px 1px lightblue;
    height: 394px;
    width: 255px;

  }

  .card-nft .card-img-top{
    padding: 8px
    ;
    height: 200px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 20px;
  }
  .card-nft p{
    font-size: 10px;
  }

  