.hero-section {
    background-color: linear-gradient(90deg, #0f1218 0%, #16163a 100%);
    padding: 100px 0;
  }
  


  
  .hero-section p {
    font-size: 1.25rem;
    margin-bottom: 40px;
  }
  
  .hero-buttons .btn {
    margin: 0 10px;
    padding: 10px 20px;
  }
  
  .nft-cards {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .nft-card {
    background-color: #21262d;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 10px;
    width: 200px;
  }
  
  .nft-card img {
    width: 100%;
    height: auto;
  }
  
  .nft-card p {
    padding: 10px;
    color: #c9d1d9;
  }
  .content{
    flex-direction: column;
    align-items: flex-start;
  }
  .content h1{
  
      font-size: 50px;
      margin: 0;
      line-height: 1.2;
  
  }
  .content h1 span{
    font-family: 'Arial', sans-serif;
            font-weight: 700;
            font-size: 50px;
            color: transparent;
            -webkit-text-stroke: 1px #40e0d0; 
       
  }













  