.create-nft {
    background-color:transparent;
    border: 2px solid #1E4F52;
    color: white;
  }
  .create-nft p{
    color: rgb(119, 117, 114);
  }
  .create-nft input,
  .create-nft select,
  .create-nft textarea {
    background-color: #1E4F52;
    border-color: #1E4F52;
    color: white; 
  }
  .create-nft input:hover,
  .create-nft select:hover,
  .create-nft textarea:hover {
    background-color: #1E4F52;
    border-color: #1E4F52;
    color: white; 
  }
  
  .file{
    height: 250px;
    width: 100%;
    border:1px dotted rgb(80, 76, 76)
  }
  .file img{
    margin-top: 35px;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .create-nft button{
    background-color: #3D9FA4;
    border-color: #3D9FA4 ;
    color: white;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
  }
  .create-nft button:hover{
    background-color: #3D9FA4;
    border-color: #3D9FA4 ;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
  }

  /*input check box  */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /* inpunt End Check Box */
  ::placeholder {
    color: lightcyan;
    opacity: 1; 
  }
  ::-webkit-input-placeholder {
    color: lightcyan;
  }
  :-moz-placeholder {
    color: lightcyan;
    opacity: 1; 
  }
  ::-moz-placeholder {
    color: lightcyan;
    opacity: 1; 
  }
  :-ms-input-placeholder {
    color: lightcyan;
  }